/*importation des polices d'ecitures*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap');


/* Général */
body {
  background-color: black;
  padding: 10px;
  font-family: 'Roboto', sans-serif; /* Définit la police par défaut pour tout le document */
  color: #F0E9DF; /* Définit la couleur de texte par défaut */
}

h1, h2, h3 {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
}

h1 {
  color: #7ABA78;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
}

h2, h3 {
  font-family: 'Merriweather', serif;
}

h2 {
  color: #85C17E;
  margin-top: 30px;
  padding: 15px;
}

h3 {
  color: #A1CEA0;
}

p {
  text-align: justify;
  margin: 0 auto;
  line-height: 1.5;
}

a {
  color: #0A6847;
  text-decoration: none;
}

/*css pour mobile*/

/* Header */
/* Menu par défaut caché sur mobile */
.css_header_div_nav {
  display: none;
  /* Masque le menu par défaut */
  flex-direction: column;
  /* Aligne les éléments verticalement */
  position: absolute;
  /* Permet de superposer le menu par-dessus le contenu */
  top: 60px;
  /* Ajustez en fonction de la hauteur de votre header */
  right: 10px;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
  /* Assure que le menu est au-dessus des autres éléments */
}

.css_header_div_nav_a {
  padding: 10px 20px;
  color: #0A6847;
  text-align: left;
  display: block;
  /* pr occuper toute la largeur */
  text-decoration: none;
}

/* bouton burger */
.css_header_menu_button {
  display: block;
  /* Affiche le bouton sur mobile */
  background-color: transparent;
  border: none;
  color: #0A6847;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1001;
}

/* Affiche le menu lorsque la classe active est ajoutée */
.css_header_div_nav_active {
  display: flex;
  /* Affiche le menu */
}

/* Index */
.css_index_messageOver,
.resto1,
.resto2 {
  display: none;
  /* Cache l'élément en mode mobile */
}

.css_index_habitat_item {
  position: relative;
  margin-bottom: 30px;
  /* Maintient un espace en version mobile */
  text-align: center;
  /* Centre le texte sous les images en version mobile */
}

.css_index_img_habitat {
  width: 100%;
  height: auto;
  border: 2px solid #ddd;
  object-fit: cover;
}

.css_index_h3 {
  position: absolute;
  top: 50%;
  /* Centré verticalement */
  left: 50%;
  /* Centré horizontalement */
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 1.5em;
  color: #F0E9DF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  z-index: 2;
  pointer-events: none;
}

.css_galerie {
  display: flex;
  flex-wrap: wrap;
  /* Permet aux images de se repositionner sur plusieurs lignes */
  justify-content: center;
  /* Centre les images horizontalement */
  gap: 10px;
  /* Ajoute un espace entre les images */
}

.css_services {
  width: 48%;
  /* Chaque image prend 48% de la largeur de l'écran pour laisser un peu de marge */
  height: auto;
  /* Garde les proportions de l'image */
  border: 2px solid #ddd;
  /* Ajoute une bordure pour plus de visibilité */
  object-fit: cover;
  /* Assure que l'image remplit bien son conteneur */
}


/*carrousel */
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  /* Centre le texte horizontalement */
}

.carrousel_estompe {
  position: relative;
  width: 100%;
  max-width: 800px;
  /* Limite la largeur du carrousel */
  height: 200px;
  /* Ajustez la hauteur selon vos besoins */
  overflow: hidden;
  margin: 0 auto;
  /* Centre horizontalement le carrousel */
}


/* Styles pour les diapositives avec fondu */
.estompe_diapo {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  box-sizing: border-box;
  /* Assure que la bordure est incluse dans les dimensions */
  border-top: 1px solid #F0E9DF;
  /* Bordure fine en haut */
  border-bottom: 1px solid #F0E9DF;
  /* Bordure fine en bas */
}

.carrousel_estompe_p {
  padding-top: 25px;
  text-align: center;
}

/* Diapositive active avec visibilité */
.estompe_diapo.active {
  opacity: 1;
}

/* Ajout de contrôles pour le carrousel */
.carrousel_controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carrousel_control {
  background-color: rgba(0, 0, 0, 0.5);
  color: #F0E9DF;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* Habitats */
.css_habitat_container {
  height: auto;
  margin-bottom: 15px;
}

.css_img_habitats {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.css_habitat_animal {
  flex-direction: column;
  margin: 10px 0;
}

.css_habitat_imgAnimal {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.css_habitat_imgAnimal {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* Image ronde par défaut */
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  object-fit: cover;
  /* Maintient le rapport d'aspect */
  object-position: center;
  /* Centre l'image */
  padding: 3%;
  position: relative;
  /* Pour que la description soit placée par rapport à l'image */
  cursor: pointer;
  /* Ajouter un curseur pointer pour indiquer que l'image est cliquable */
  z-index: 1;
  /* Assure que l'image est au-dessus de la description */
}

.css_habitat_imgAnimal:hover {
  width: 200px;
  /* Image devient plus grande */
  height: 200px;
  /* Hauteur égale à la largeur pour garder un carré */
  border-radius: 0%;
  /* Image devient carrée */
  -webkit-transform: rotate(360deg);
  /* Rotation de l'image */
  transform: rotate(360deg);
}

.css_animal_description {
  display: none;
  /* Masquer la description par défaut */
  margin-top: 10px;
  /* Espacement entre l'image et la description */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  /* Pas d'effet de superposition avec positionnement relatif */
}


/* Services */
.css_services_img {
  max-width: 100%;
  margin: 0 auto;
}

.css_service {
  margin: 10px 0;
}

/* Tableau */
.css_table {
  font-size: 0.9em;
}

.css_table th,
.css_table td {
  padding: 5px;
}

/* Formulaires */
.css_form {
  color: #F0E9DF;
  margin: 40px auto;
  /* Centre le formulaire sur la page */
  max-width: 600px;
  /* Limite la largeur du formulaire */
  padding: 20px;
  /* Ajoute un padding uniforme autour du formulaire */
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  /* Inclut le padding dans la taille totale du conteneur */
}

.css_form input[type="text"],
.css_form input[type="password"],
.css_form textarea {
  width: 100%;
  /* Prend toute la largeur disponible dans le conteneur */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #7aba78;
  border-radius: 5px;
  background-color: #444;
  color: #F0E9DF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  /* Assure que le padding est inclus dans la largeur totale */
}


.css_form label {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  color: #85c17e;
}


.css_form textarea {
  height: 150px;
  /* Ajustez cette valeur selon vos besoins */
  resize: vertical;
  /* Permet de redimensionner uniquement la hauteur */
}

.css_form button,
.css_form input[type="submit"] {
  background-color: #0a6847;
  color: #F0E9DF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.css_form button,
.css_form input[type="submit"]:hover {
  background-color: #85c17e;
}

/* Login */
.css_login_content {
  padding: 10px;
  margin-top: 20px;
}

.css_login_content h2 {
  font-size: 1.5em;
}

/* Footer */
.css_footer_p {
  font-size: 0.9em;
  padding: 10px;
}

/*tableau*/
.css_table {
  color: #F0E9DF;
  border-collapse: collapse;
  /* les bordures des cellules fusionnent */
  width: 100%;
  /*le tableau prend toute la largeur disponible */
}

.css_table th,
.css_table td {
  border: solid 2px #F0E9DF;
  /* Ajoute une bordure aux cellules */
  padding: 10px;
  /* Ajoute du padding pour espacer le texte des bordures */
}

.css_table th {
  background-color: #0a6847;
  /* Optionnel: Ajoute une couleur de fond pour l'en-tête */
  color: #F0E9DF;
  /* Assure que le texte de l'en-tête reste visible */
}

/* Style de survol pour les lignes du tableau */
.css_table tbody tr:hover {
  background-color: #0a6847;
  /* Couleur de fond au survol */
}

.css_table tbody tr:hover td {
  color: #F0E9DF;
  /* Couleur du texte au survol */
}

/*login.php*/
.css_login {
  margin-bottom: 120px;

}

.css_login_content {
  position: relative;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  /* Ajoute un espacement au-dessus pour éviter la coupure des lettres */
}

.css_login_content h2 {
  font-family: 'Merriweather';
  font-size: 2em;
  /* Taille ajustée pour tenir sur une seule ligne */
  line-height: 1.2em;
  /* Augmente l'espace vertical */
  margin: 20px 0;
  /* Espacement autour du texte */
  white-space: nowrap;
  /* Empêche le texte de se découper */
  color: #7aba78;
  position: absolute;
  /* Positionne les deux <h2> en superposition */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centre les <h2> */
}

.css_login_content h2:first-child {
  color: transparent;
  /* Cache le texte tout en gardant le contour visible */
  -webkit-text-stroke: 1px #7aba78;
  /* Ajoute un contour aux lettres */
  z-index: 1;
  /* Place ce texte en dessous */
}

.css_login_content h2:nth-child(2) {
  color: #7aba78;
  /* Couleur du texte animé */
  animation: animate 4s ease-in-out infinite;
  z-index: 2;
  /* Place ce texte au-dessus */
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%,
        70% 61%, 84% 59%, 100% 52%, 100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%,
        67% 50%, 84% 45%, 100% 46%, 100% 100%,
        0% 100%);
  }
}

/*pages erreur et succes envoi avis*/
.css_erreurAvis_h1,
.css_succesAvis_p {
  margin-bottom: 350px;
}

/*media query pour grand ecran*/
@media only screen and (min-width:664px) {

  a {
    color: #0a6847;
    text-decoration: none;
  }

  /*nav*/
  .css_header_menu_button {
    display: none;
    /* Cache le bouton du menu hamburger sur desktop */
  }

  .css_header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .css_header_div_nav {
    display: flex;
    /* Assure que le menu s'affiche en ligne */
    position: static;
    /* Position normale */
    flex-direction: row;
    background-color: transparent;
    padding: 0;
  }

  .css_header_div_nav_a {
    padding: 15px;
    /* Ajuste l'espace autour des liens */
    text-align: center;
    color: #0a6847;
    /* Couleur des liens */
    text-decoration: none;
  }

  /*index.php*/
  .resto1,
  .resto2,
  .css_index_messageOver {
    display: block;
  }

  .css_indexIntro {
    max-width: 1000px;
    margin: 0 auto;
    /* Centre le conteneur */
  }

  .css_img_indexIntro {
    float: right;
    /* Place l'image à droite du texte */
    margin: 0 0 10px 10px;
    /* Espace autour de l'image */
    width: 150px;
    /* Ajuste la taille de l'image pour qu'elle soit plus petite */
    height: auto;
    /* Garde les proportions de l'image */
    display: block;
    /* Assure que l'image se comporte comme un bloc */
    border: 2px solid #ddd;
    /* Bordure légère autour de l'image */
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .css_img_indexIntro:hover {
    -webkit-transform: rotate(10deg) scale(1.25);
    /* Animation au survol */
    transform: rotate(10deg) scale(1.25);
  }

  .css_index_habitat {
    display: flex;
    /* Utilise Flexbox pour aligner les éléments en ligne */
    flex-direction: row;
    justify-content: space-between;
    /* Distribue l'espace entre les images */
    align-items: flex-start;
    /* Aligne les images en haut */
    flex-wrap: nowrap;
    /* Empêche les images de se déplacer à la ligne suivante */
    margin-top: 20px;
    /* Espace au-dessus des images */
  }

  .css_index_habitat_item {
    display: flex;
    flex-direction: column;
    /* Empile les éléments verticalement */
    align-items: center;
    /* Centre les éléments horizontalement */
    margin: 0 10px;
    /* Ajoute de l'espace horizontal entre les items */
    position: relative;
    /* Permet de positionner les éléments enfants par rapport à cet élément */
  }

  .css_index_h3 {
    margin-bottom: 10px;
    /* Espace entre le titre et l'image */
    font-size: 1.5em;
    /* Ajuste la taille du texte */
    color: #F0E9DF;
    /* Couleur du texte */
    text-transform: uppercase;
    /* Transforme le texte en majuscules */
  }

  .css_index_img_habitat {
    width: 100%;
    /* Assure que les images prennent toute la largeur de leur conteneur */
    height: 200px;
    /* Définit une hauteur fixe pour uniformiser les images */
    border: 2px solid #ddd;
    /* Bordure autour de l'image */
    object-fit: cover;
    /* Assure que l'image remplit bien son conteneur sans déformation */
  }

  .flash:hover {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
  }

  @-webkit-keyframes flash {
    0% {
      opacity: .4;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes flash {
    0% {
      opacity: .4;
    }

    100% {
      opacity: 1;
    }
  }

  .css_galerie {
    display: flex;
    flex-wrap: nowrap;
    /* Les images s'alignent horizontalement */
    justify-content: space-between;
  }

  .css_services {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    max-width: 250px;
    /* Largeur maximale des images pour l'alignement */
    height: auto;
    /* Maintient les proportions */
    margin: 0 10px;
    /* Ajoute un espace horizontal entre les images */
  }

  .css_galerie img:hover {
    filter: brightness(1.2) contrast(1.2);
    border-color: #F0E9DF;
  }

  .css_index_messageOver {
    color: #F0E9DF;
    font-weight: 300;
    font-weight: 500;
    text-align: center;
  }

  .css_index_habitatTitre,
  .css_index_habitat {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .css_index_h3 {
    padding: 10px
  }

  .css_p_avis_lien>a {
    color: #0a6847;
    text-decoration: none;
  }

  /*habitats.php */
  .css_habitat_container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .css_img_habitats {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, filter 0.5s ease;
  }

  .css_habitat_description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    box-sizing: border-box;
    z-index: 1;
  }

  .css_habitat_container:hover .css_img_habitats {
    transform: scale(1.1);
    filter: brightness(0.7);
  }

  .css_habitat_container:hover .css_habitat_description {
    transform: translateY(0);
  }

  .css_habitat_animal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 80px;
    position: relative;
  }

  .css_habitat_imgAnimal {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* Image ronde par défaut */
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    object-fit: cover;
    /* Maintient le rapport d'aspect */
    object-position: center;
    /* Centre l'image */
    padding: 3%;
    position: relative;
    /* Pour que la description soit placée par rapport à l'image */
    cursor: pointer;
    /* Ajouter un curseur pointer pour indiquer que l'image est cliquable */
    z-index: 1;
    /* Assure que l'image est au-dessus de la description */
  }

  .css_habitat_imgAnimal:hover {
    width: 200px;
    /* Image devient plus grande */
    height: 200px;
    /* Hauteur égale à la largeur pour garder un carré */
    border-radius: 0%;
    /* Image devient carrée */
    -webkit-transform: rotate(360deg);
    /* Rotation de l'image */
    transform: rotate(360deg);
  }

  .css_animal_description {
    display: none;
    /* Masquer la description par défaut */
    width: 150px;
    /* Largeur égale à celle de l'image pour un alignement propre */
    /* Occupe toute la largeur disponible */
    text-align: center;
    /* Centrer le texte */
    margin-top: 10px;
    /* Espacement entre l'image et la description */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    /* Pas d'effet de superposition avec positionnement relatif */
    z-index: 0;
    /* Assure que la description est derrière l'image */
  }


  /*services*/

  /* Style général pour les images de service */
  .css_services_img {
    width: 100%;
    /* Assure que l'image prend toute la largeur du conteneur */
    height: auto;
    /* Maintient les proportions de l'image */
    max-width: 400px;
    /* Définit une largeur maximale pour uniformiser les images */
    object-fit: cover;
    /* Assure que l'image couvre l'espace sans déformation */
    border-radius: 10px;
    /* ajoute des coins arrondis aux images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* ajoute une ombre autour des images */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .css_services_img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .css_service {
    margin: 20px;
    /* Ajoute une marge autour de chaque service pour les espacer */
    text-align: center;
    /* Centre le texte sous les images */
  }




  /*contact*/
  .css_contact_p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /*css des formulaires*/
  .css_form {
    color: #F0E9DF;
    margin: 40px auto;
    /* Centre le formulaire sur la page */
    max-width: 600px;
    /* Limite la largeur du formulaire */
    padding: 20px;
    /* Ajoute un padding uniforme autour du formulaire */
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    /* Inclut le padding dans la taille totale du conteneur */
  }

  .css_form input[type="text"],
  .css_form input[type="password"],
  .css_form textarea {
    width: 100%;
    /* Prend toute la largeur disponible dans le conteneur */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #7aba78;
    border-radius: 5px;
    background-color: #444;
    color: #F0E9DF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    /* Assure que le padding est inclus dans la largeur totale */
  }


  .css_form label {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    color: #85c17e;
  }


  .css_form textarea {
    height: 150px;
    /* Ajustez cette valeur selon vos besoins */
    resize: vertical;
    /* Permet de redimensionner uniquement la hauteur */
  }

  .css_form button,
  .css_form input[type="submit"] {
    background-color: #0a6847;
    color: #F0E9DF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .css_form button,
  .css_form input[type="submit"]:hover {
    background-color: #85c17e;
  }


  /*login.php*/
  .css_login {
    margin-bottom: 120px;

  }

  .css_login_content {
    position: relative;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    /* Ajoute un espacement au-dessus pour éviter la coupure des lettres */
  }

  .css_login_content h2 {
    font-family: 'Merriweather';
    font-size: 2em;
    /* Taille ajustée pour tenir sur une seule ligne */
    line-height: 1.2em;
    /* Augmente l'espace vertical */
    margin: 20px 0;
    /* Espacement autour du texte */
    white-space: nowrap;
    /* Empêche le texte de se découper */
    color: #7aba78;
    position: absolute;
    /* Positionne les deux <h2> en superposition */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centre les <h2> */
  }

  .css_login_content h2:first-child {
    color: transparent;
    /* Cache le texte tout en gardant le contour visible */
    -webkit-text-stroke: 1px #7aba78;
    /* Ajoute un contour aux lettres */
    z-index: 1;
    /* Place ce texte en dessous */
  }

  .css_login_content h2:nth-child(2) {
    color: #7aba78;
    /* Couleur du texte animé */
    animation: animate 4s ease-in-out infinite;
    z-index: 2;
    /* Place ce texte au-dessus */
  }

  @keyframes animate {

    0%,
    100% {
      clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%,
          70% 61%, 84% 59%, 100% 52%, 100% 100%,
          0% 100%);
    }

    50% {
      clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%,
          67% 50%, 84% 45%, 100% 46%, 100% 100%,
          0% 100%);
    }
  }

  /*footer*/
  .css_footer_p {
    text-align: center;
  }

}